<section class="relative">
  <div class="container flex flex-col items-center justify-center gap-7 py-5 lg:py-10">
    <h2 class="text-center tracking-widest text-[#193C6B] en:font-heyCharlie en:text-[40px] zh-TW:text-[30px] sm:en:text-[50px] sm:zh-TW:text-[40px] lg:en:text-[80px] lg:zh-TW:text-[60px]">
      {{ 'about_us.our_mission.title' | t }}
    </h2>
    <div class="grid grid-cols-1 gap-10 lg:grid-cols-3">
      <div class="flex max-w-[200px] flex-col items-center justify-start gap-7 lg:max-w-none">
        <img
          src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Layer_1_15.svg?v=1710926468"
          alt="Giving Back"
          class="aspect-square  w-[100px] object-contain"
        >
        <h3 class="text-center text-[20px] uppercase text-[#193C6B] en:font-museo sm:text-[24px] lg:text-[32px]">
          {{ 'about_us.our_mission.point1.title' | t }}
        </h3>
        <p class="text-balance text-center text-[14px] font-light text-[#193C6B] en:font-museo lg:text-[16px]">
          {{ 'about_us.our_mission.point1.description' | t }}
        </p>
      </div>
      <div class="flex max-w-[200px] flex-col items-center justify-start gap-7 lg:max-w-none">
        <img
          src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Layer_1_14_250x.svg?v=1710925653"
          alt="Best Pup Health"
          class="aspect-square  w-[100px] object-contain"
        >
        <h3 class="text-center text-[20px] uppercase text-[#193C6B] en:font-museo sm:text-[24px] lg:text-[32px]">
          {{ 'about_us.our_mission.point2.title' | t }}
        </h3>
        <p class="text-balance text-center text-[14px] font-light text-[#193C6B] en:font-museo lg:text-[16px]">
          {{ 'about_us.our_mission.point2.description' | t }}
        </p>
      </div>
      <div class="flex max-w-[200px] flex-col items-center justify-start gap-7 lg:max-w-none">
        <img
          src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_825_250x.png?v=1711603732"
          alt="Happy customers"
          class="aspect-square  w-[100px] object-contain"
        >
        <h3 class="text-[20px] uppercase text-[#193C6B] en:font-museo sm:text-[24px] lg:text-[32px]">
          {{ 'about_us.our_mission.point3.title' | t }}
        </h3>
        <p class="text-balance text-center text-[14px] font-light text-[#193C6B] en:font-museo lg:text-[16px]">
          {{ 'about_us.our_mission.point3.description' | t }}
        </p>
      </div>
    </div>
  </div>
</section>
