<div class="grid grid-cols-2 items-start gap-2 px-5 md:px-10 lg:grid-cols-5 lg:gap-4">
  <a href="{{ all_products['buddy-bites-lamb'].url }}">
    <div class="flex min-h-[255px] animate-float1 flex-col items-center justify-between rounded-2xl bg-[#d8c4e4] px-2 py-3 text-[22px] lg:h-[280px]">
      <h3 class="text-center font-montserrat text-[16px] font-bold uppercase text-[#0d3e66] lg:text-[18px]">
        {{ 'bouncy_kibbles.lamb' | t }}
      </h3>
      <p class="font-montserrat text-[14px] font-light text-black"><span class="line-through">$39</span> $31.20</p>
      <img
        src="{{ 'BB_Lamb_FOP.png' | file_img_url: 'master' }}"
        alt="Lamb Kibbles"
        class="object-contain lg:h-[140px] lg:w-full"
        srcset="
          {{ 'BB_Lamb_FOP.png' | file_img_url: '140x' }} 140w,
          {{ 'BB_Lamb_FOP.png' | file_img_url: '280x' }} 280w,
          {{ 'BB_Lamb_FOP.png' | file_img_url: '420x' }} 420w
        "
        sizes="140px"
        width="4000"
        height="4000"
      >
      <button
        class="rounded-full border-2 bg-white px-5 py-2 text-[16px] font-normal uppercase text-[#193C6B] hover:border-[#193C6B] en:font-museo"
      >
        <p>
          {{- 'bouncy_kibbles.shop' | t -}}
          <span class="hidden lg:inline"> {{ 'bouncy_kibbles.now' | t }}</span>
        </p>
      </button>
    </div>
  </a>
  <a href="{{ all_products['buddy-bites-puppy'].url }}" class="hidden lg:block">
    <div class="flex max-h-[330px] min-h-[255px] animate-float2 flex-col items-center justify-between rounded-2xl bg-[#a8ccec] px-2 py-3 text-[22px] lg:h-[280px]">
      <h3 class="text-center font-montserrat text-[16px] font-bold uppercase text-[#0d3e66] lg:text-[18px]">
        {{ 'bouncy_kibbles.puppy' | t }}
      </h3>
      <p class="font-montserrat text-[14px] font-light text-black"><span class="line-through">$37</span> $29.60</p>
      <img
        src="{{ 'BB_Puppy_FOP_1.png' | file_img_url: 'master' }}"
        alt="Puppy Kibbles"
        class="object-contain lg:h-[140px] lg:w-full"
        srcset="
          {{ 'BB_Puppy_FOP_1.png' | file_img_url: '140x' }} 140w,
          {{ 'BB_Puppy_FOP_1.png' | file_img_url: '280x' }} 280w,
          {{ 'BB_Puppy_FOP_1.png' | file_img_url: '420x' }} 420w
        "
        sizes="140px"
        width="4000"
        height="4000"
      >
      <button
        class="rounded-full border-2 bg-white px-5 py-2 text-[16px] font-normal uppercase text-[#193C6B] hover:border-[#193C6B] en:font-museo"
      >
        <p>
          {{- 'bouncy_kibbles.shop' | t -}}
          <span class="hidden lg:inline"> {{ 'bouncy_kibbles.now' | t }}</span>
        </p>
      </button>
    </div>
  </a>
  <a href="{{ all_products['buddy-bites-adult-turkey'].url }}">
    <div class="flex min-h-[255px] animate-float3 flex-col items-center justify-between rounded-2xl bg-[#f2c49b] px-2 py-3 text-[22px] lg:h-[280px]">
      <h3 class="text-center font-montserrat text-[16px] font-bold uppercase text-[#0d3e66] lg:text-[18px]">
        {{ 'bouncy_kibbles.turkey' | t }}
      </h3>
      <p class="font-montserrat text-[14px] font-light text-black"><span class="line-through">$41</span> $32.80</p>
      <img
        src="{{ 'b8794553c307108105a2b37c27f4f881_2.png' | file_img_url: 'master' }}"
        alt="Turkey Kibbles"
        class="object-contain lg:h-[140px] lg:w-full"
        srcset="
          {{ 'b8794553c307108105a2b37c27f4f881_2.png' | file_img_url: '140x' }} 140w,
          {{ 'b8794553c307108105a2b37c27f4f881_2.png' | file_img_url: '280x' }} 280w,
          {{ 'b8794553c307108105a2b37c27f4f881_2.png' | file_img_url: '420x' }} 420w
        "
        sizes="140px"
        width="4000"
        height="4000"
      >
      <button
        class="rounded-full border-2 bg-white px-5 py-2 text-[16px] font-normal uppercase text-[#193C6B] hover:border-[#193C6B] en:font-museo"
      >
        <p>
          {{- 'bouncy_kibbles.shop' | t -}}
          <span class="hidden lg:inline"> {{ 'bouncy_kibbles.now' | t }}</span>
        </p>
      </button>
    </div>
  </a>
  <a href="{{ all_products['buddy-bites-duck'].url }}">
    <div class="flex min-h-[255px] animate-float4 flex-col items-center justify-between rounded-2xl bg-[#c0ccac] px-2 py-3 text-[22px] lg:h-[280px]">
      <h3 class="text-center font-montserrat text-[16px] font-bold uppercase text-[#0d3e66] lg:text-[18px]">
        {{ 'bouncy_kibbles.duck' | t }}
      </h3>
      <p class="font-montserrat text-[14px] font-light text-black"><span class="line-through">$37</span> $29.60</p>
      <img
        src="{{ 'BB_Duck_FOP.png' | file_img_url: 'master' }}"
        alt="Duck Kibbles"
        class="object-contain lg:h-[140px] lg:w-full"
        srcset="
          {{ 'BB_Duck_FOP.png' | file_img_url: '140x' }} 140w,
          {{ 'BB_Duck_FOP.png' | file_img_url: '280x' }} 280w,
          {{ 'BB_Duck_FOP.png' | file_img_url: '420x' }} 420w
        "
        sizes="140px"
        width="4000"
        height="4000"
      >
      <button
        class="rounded-full border-2 bg-white px-5 py-2 text-[16px] font-normal uppercase text-[#193C6B] hover:border-[#193C6B] en:font-museo"
      >
        <p>
          {{- 'bouncy_kibbles.shop' | t -}}
          <span class="hidden lg:inline"> {{ 'bouncy_kibbles.now' | t }}</span>
        </p>
      </button>
    </div>
  </a>
  <a href="{{ all_products['buddy-bites-adult-salmon'].url }}">
    <div class="flex min-h-[255px] animate-float5 flex-col items-center justify-between rounded-2xl bg-[#f8b4ac] px-2 py-3 text-[22px] lg:h-[280px]">
      <h3 class="text-center font-montserrat text-[16px] font-bold uppercase text-[#0d3e66] lg:text-[18px]">
        {{ 'bouncy_kibbles.salmon' | t }}
      </h3>
      <p class="font-montserrat text-[14px] font-light text-black"><span class="line-through">$41</span> $32.80</p>
      <img
        src="{{ 'BB_Salmon_FOP.png' | file_img_url: 'master' }}"
        alt="Salmon Kibbles"
        class="object-contain lg:h-[140px] lg:w-full"
        srcset="
          {{ 'BB_Salmon_FOP.png' | file_img_url: '140x' }} 140w,
          {{ 'BB_Salmon_FOP.png' | file_img_url: '280x' }} 280w,
          {{ 'BB_Salmon_FOP.png' | file_img_url: '420x' }} 420w
        "
        sizes="140px"
        width="4000"
        height="4000"
      >
      <button
        class="rounded-full border-2 bg-white px-5 py-2 text-[16px] font-normal uppercase text-[#193C6B] hover:border-[#193C6B] en:font-museo"
      >
        <p>
          {{- 'bouncy_kibbles.shop' | t -}}
          <span class="hidden lg:inline"> {{ 'bouncy_kibbles.now' | t }}</span>
        </p>
      </button>
    </div>
  </a>
</div>
