<section style="background-color: {{ bgColor }}; padding: 40px 0;">
  <div class="faqs desktop">
    <div class="container-fluid">
      <h2 class="en:font-heyCharlie" style="margin: 0; padding-bottom: 40px;">{{- 'section_faq.title' | t -}}</h2>
      <div class="rowa">
        <div class="columna">
          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question1.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question1.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question2.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question2.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question3.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question3.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question4.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question4.answer' | t -}}
            </p>
          </div>
        </div>
        <div class="columna">
          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question5.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question5.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question6.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question6.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question7.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question7.answer1' | t -}}
              <a href="https://www.youtube.com/watch?v=dLWdhti_1OY&ab_channel=BuddyBites" class="font-bold">
                {{- 'section_faq.question7.video_link' | t -}}
              </a>
              {{- 'section_faq.question7.answer2' | t -}}
            </p>
          </div>

          {% comment %}
            <div class="accordian">
              <div class="icon"></div>
              <h5>{{- 'section_faq.question8.title' | t -}}</h5>
            </div>
            <div class="panel">
              <p>
                {{- 'section_faq.question8.answer1' | t -}}
                <a href="https://buddybites.dog/collections/starter-packs" class="font-bold">
                  {{- 'section_faq.question8.sample_link' | t -}}
                </a>
                {{- 'section_faq.question8.answer2' | t -}}
              </p>
            </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <div class="faqs lg:hidden">
    <div class="container-fluid">
      <h2 class="en:font-heyCharlie">{{- 'section_faq.title' | t -}}</h2>
      <div class="rowa">
        <div class="columna">
          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question1.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question1.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question2.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question2.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question3.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question3.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question4.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question4.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question5.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question5.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question6.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question6.answer' | t -}}
            </p>
          </div>

          <div class="accordian">
            <div class="icon"></div>
            <h5>{{- 'section_faq.question7.title' | t -}}</h5>
          </div>
          <div class="panel">
            <p>
              {{- 'section_faq.question7.answer1' | t -}}
              <a href="https://www.youtube.com/watch?v=dLWdhti_1OY&ab_channel=BuddyBites" class="font-bold">
                {{- 'section_faq.question7.video_link' | t -}}
              </a>
              {{- 'section_faq.question7.answer2' | t -}}
            </p>
          </div>

          {% comment %}
            <div class="accordian">
              <div class="icon"></div>
              <h5>{{- 'section_faq.question8.title' | t -}}</h5>
            </div>
            <div class="panel">
              <p>
                {{- 'section_faq.question8.answer1' | t -}}
                <a href="https://buddybites.dog/collections/starter-packs" class="font-bold">
                  {{- 'section_faq.question8.sample_link' | t -}}
                </a>
                {{- 'section_faq.question8.answer2' | t -}}
              </p>
            </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .accordian {
    width: 100%;
    padding: 0 0.5vw;
    border: 0.1vw solid #0d3e66;
    cursor: pointer;
    border-radius: 5vw;
    display: flex;
    align-items: center;
  }
  .accordian .icon {
    margin: 0 0.2vw 0 0;
    width: 3vw;
    height: 2.1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://cdn.shopify.com/s/files/1/0430/5833/1805/files/plus_1.svg?v=1684522114);
    float: left;
    transition: all 0.5s ease-in;
  }
  .active .icon {
    background-image: url(https://cdn.shopify.com/s/files/1/0430/5833/1805/files/minus.svg?v=1684524159);
  }
  .active {
    background-color: {{ bgColor }};
  }
  .accordian h5 {
    font-size: 1.5vw;
    margin: 0;
    padding: 0.5vw 0;
    font-family: Montserrat, sans-serif !important;
    color: #0d3e66 !important;
    font-weight: 500 !important;
  }
  .faqs {
    background-color: {{ bgColor }};
  }
  .panel {
    background-color: {{ bgColor }};
    padding: 0 2vw;
    border-left: 0.1vw solid #0d3e66;
    margin-left: 3vw;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in;
    border-radius: 0;
    box-shadow: none;
  }
  .panel p {
    margin: 1vw 0 !important;
    text-align: left;
  }
  .container-fluid {
    width: 90%;
    margin: 0 auto 4vw auto;
  }
  .container-fluid h2 {
    position: relative;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 5px;
    text-align: center;
    color: #203c6c;
    margin: 5vw 0;
    font-size: 5vw;
  }
  .rowa {
    display: flex;
  }
  .columna {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 1vw;
  }

  @media (max-width: 1024px) {
    .desktop {
      display: none;
    }
    .container-fluid h2 {
      font-size: 7vw !important;
    }
    .container-fluid {
      width: 92%;
    }
    .accordian h5 {
      font-size: 3vw;
    }
    .accordian .icon {
      margin: 0 0.5vw 0 0;
      width: 5vw;
      height: 7vw;
    }
    .accordian {
      border: 0.2vw solid #0d3e66;
    }
    .panel p {
      font-size: 3vw !important;
    }
    .panel {
      border-left: 0.2vw solid #0d3e66;
    }
  }
</style>

<script>
  var acc = document.getElementsByClassName('accordian');
  var i;
  var len = acc.length;
  for (i = 0; i < len; i++) {
    acc[i].addEventListener('click', function () {
      this.classList.toggle('active');
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + 'px';
      }
    });
  }
</script>
