<div class="homepage-indiv-section-wrapper grid--full" style="overflow: hidden">
  <div class="bdg-blue">
    <div class="review-carousel desktop">
      <div class="review first">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_Image_1.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review1.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review1.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_3.jpg?v=1689688662"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review2.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review2.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_2.jpg?v=1689688659"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review3.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review3.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_7_corgi.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review4.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review4.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_4.png?v=1689688661"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review5.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review5.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_5.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review6.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review6.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_3_dogs.jpg?v=1689688658"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review7.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review7.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/review_image_6.jpg?v=1689688658"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review8.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review8.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_Image_1.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review1.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review1.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_3.jpg?v=1689688662"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review2.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review2.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_2.jpg?v=1689688659"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review3.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review3.subtext' | t }}
        </p>
      </div>
      <div class="review">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_7_corgi.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review4.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review4.subtext' | t }}
        </p>
      </div>
    </div>
    <div class="slideshow-container lg:hidden">
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_Image_1.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review1.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review1.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_3.jpg?v=1689688662"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review2.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review2.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_2.jpg?v=1689688659"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review3.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review3.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_7_corgi.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review4.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review4.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_4.png?v=1689688661"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review5.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review5.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_5.jpg?v=1689688656"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review6.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review6.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/Review_image_3_dogs.jpg?v=1689688658"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review7.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review7.subtext' | t }}
        </p>
      </div>
      <div class="review mySlides">
        <div class="rev-top">
          <img
            class="profile-img"
            src="https://cdn.shopify.com/s/files/1/0643/9010/3256/files/review_image_6.jpg?v=1689688658"
            alt="customer"
          >
          <h3>{{ 'homepage.section_our_buddies_love_a_bite.review8.title' | t }}</h3>
          <img
            class="stars"
            src="https://cdn.shopify.com/s/files/1/0430/5833/1805/files/Group_685.webp?v=1756963303"
            width="640"
            height="114"
          >
        </div>
        <p>
          {{ 'homepage.section_our_buddies_love_a_bite.review8.subtext' | t }}
        </p>
      </div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</div>

<style>
  .first {
     -webkit-animation: bannermove 80s linear infinite;
        -moz-animation: bannermove 80s linear infinite;
         -ms-animation: bannermove 80s linear infinite;
          -o-animation: bannermove 80s linear infinite;
             animation: bannermove 80s linear infinite;
    }

    @keyframes "bannermove" {
     0% {
        margin-left: 0px;
     }
     100% {
        margin-left: -240vw;
     }
    }

    @-moz-keyframes bannermove {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -240vw;
     }
    }

    @-webkit-keyframes "bannermove" {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -240vw;
     }
    }

    @-ms-keyframes "bannermove" {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -240vw;
     }
    }

    @-o-keyframes "bannermove" {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -240vw;
     }
    }
  .review p {
    color: #fff !important;
    margin: 0vw 2vw 1vw 2vw;
  }
  .stars {
    width: 10vw;
    margin-left: 1.8vw;
  }
  .rev-top {
    text-align: left;
    padding: 2vw 3vw;
  }
  .rev-top h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 600 !important;
    font-style: normal;
    text-transform: uppercase;
    margin-left: 8vw;
    font-size: 1.2vw;
    padding-top: 1vw;
  }
  .profile-img {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border-radius: 30vw;
    float: left;
  }
  .bdg-blue {
    background-color: #9ac9eb;
  }
  .title-cell {
    text-align: center;
    padding: 4vw 0 2vw 0;
  }
  .title-cell h3 {
    font-family: hey_charlieregular,sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 5px;
    text-align: center;
    color: #203c6c;
    margin-bottom: 1%;
    font-size: 5vw;
  }
  .review-carousel {
    display: flex;
  }
  .review {
    text-align: center;
    margin: 0 1vw;
    background-color: #1c3e6c;
    color: #fff;
    min-width: 28vw !important;
    border-radius: 1.5vw;
    {% if canonical_url contains '/zh' %}
    height: 21vw;
    {% else %}
    height: 23vw;
    {% endif %}

  }
  @media (max-width: 768px) {
    .desktop {
      display: none;
    }
    .title-cell {
      margin-top: -1px;

    }
    .title-cell h3 {
      {% if canonical_url contains '/zh' %}
      font-size: 10vw;
      {% else %}
      font-size: 14vw;
      {% endif %}
      padding: 10vw 5vw 0 5vw;
    }
    .slideshow-container {
      position: relative;
    }
    .mySlides {
      display: none;
    }
    .review {
      margin: 0 10%;
      width: 80%;
      height: 86vw;
      {% if canonical_url contains '/zh' %}
      height: 79vw;
      {% else %}
      height: 86vw;
      {% endif %}
      border-radius: 5vw;
    }
    .review p {
      margin: 0vw 10% 1vw 10%;
      font-size: 3.7vw;
    }
    .profile-img {
      width: 25vw;
      height: 25vw;
    }
    .stars {
      width: 28vw;
      margin-left: 5vw;
    }
    .rev-top {
      padding: 5vw 7vw 10vw 8vw;
    }
    .rev-top h3 {
      margin-left: 30vw;
      font-size: 4.2vw;
      padding-top: 4vw;
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      {% if canonical_url contains '/zh' %}
      top: 38vw;
      {% else %}
      top: 41vw;
      {% endif %}
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      text-decoration: none;
    }
    .bdg-blue {
      padding-bottom: 10vw;
    }
  }

  @media (min-width: 769px) {
    .review .first p {
      font-size: 1vw;
    }

  }
</style>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName('mySlides');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    slides[slideIndex - 1].style.display = 'block';
  }
</script>
