{% comment %}
  Add to Cart Form with:
  - Subscription/One-time toggle
  - Variant selection (greyed out if sold out)
  - Quantity selector
  - Dynamic price display (with discount)
  - Add to Cart button
  - [Toppers] Hide the "one cup" variant if the user selects subscription
  - [Starter packs] Prevent the user from ordering more than 1 item
{% endcomment %}

{% assign discount_percentage = product.metafields.subscription.discount_percentage | round: 2 %}
{% assign discount_factor = 100 | minus: discount_percentage | divided_by: 100.0 %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const deliveryOptionLabel = document.getElementById('delivery_option_label');
    const deliveryOptionSelect = document.getElementById('delivery_option_select');
    const subscriptionOption = document.getElementById('subscription_option');
    const oneTimeOption = document.getElementById('one_time_option');
    const discountedPrice = document.querySelector('.discounted-price');
    const undiscountedPrices = document.querySelectorAll('.undiscounted-price');
    const productVariant = document.getElementById('product-variant');
    const quantityMinus = document.getElementById('qtyminus');
    const quantityPlus = document.getElementById('qtyplus');
    const quantityInput = document.getElementById('quantity');

    function toggleDeliveryOption() {
      if (subscriptionOption.checked) {
        deliveryOptionLabel.classList.remove('hidden');
        deliveryOptionLabel.classList.add('flex');
        deliveryOptionSelect.removeAttribute('disabled');
      } else {
        deliveryOptionLabel.classList.add('hidden');
        deliveryOptionLabel.classList.remove('flex');
        deliveryOptionSelect.setAttribute('disabled', 'disabled');
      }
    }

    subscriptionOption.addEventListener('change', toggleDeliveryOption);
    oneTimeOption.addEventListener('change', toggleDeliveryOption);

    const isStarterPack = () => {
      const starterPacksProductIds = [10157743702331, 10146222506299];
      return starterPacksProductIds.includes({{product.id}});
    }

    quantityInput.addEventListener('change', (e) => {
      e.preventDefault();
      if (isStarterPack()) {
        quantityInput.value = 1;
        alert('{{ 'products.product.one_sampler_limit' | t }}');
      }
    });

    quantityPlus.addEventListener('click', (e) => {
      e.preventDefault();
      //Starter Packs Product IDs
      if (!isStarterPack()) {
        const currentValue = parseInt(quantityInput.value);
        if (currentValue < 99) {
          quantityInput.value = currentValue + 1;
          quantityInput.dispatchEvent(new Event('change', { bubbles: true }));
        }
      } else {
        quantityInput.value = 1;
        alert('{{ 'products.product.one_sampler_limit' | t }}');
      }
    });

    quantityMinus.addEventListener('click', (e) => {
      e.preventDefault();
      const currentValue = parseInt(quantityInput.value);
      if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
        quantityInput.dispatchEvent(new Event('change', { bubbles: true }));
      }
    });
  });
</script>

<script>
  // Disable add to cart button if product variant is out of stock
  document.addEventListener('DOMContentLoaded', function () {
    const productData = {{ product | json }};
    const addToCartButton = document.getElementById('add-to-cart-button');
    const productVariant = document.getElementById('product-variant');

    const selectedVariantId = parseInt(productVariant.target.value);
    const selectedVariant = productData.variants.find(variant => parseInt(variant.id) === selectedVariantId);
    if (!selectedVariant.available) {
      addToCartButton.disabled = true;
      addToCartButton.textContent = '{{ 'products.product.out_of_stock' | t }}';
    } else {
      addToCartButton.disabled = false;
      addToCartButton.textContent = '{{ 'products.product.add_to_cart' | t }}';
    }
  });
</script>

{% if product.variants.size > 1 %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const discountedPrice = document.querySelector('.discounted-price');
      const undiscountedPrices = document.querySelectorAll('.undiscounted-price');
      const productVariant = document.getElementById('product-variant');
      const quantityInput = document.getElementById('quantity');
      productVariant.addEventListener('change', (e) => {
        e.preventDefault();
        const factor = {{ discount_factor | default: 1 }};
        const variant = e.target.value;
        const variantPrice = document.querySelector(`option[value="${variant}"]`).getAttribute('data-price');
        undiscountedPrices.forEach((price) => {
          const priceValue = Math.round(parseFloat(variantPrice) * parseFloat(quantityInput.value));
          price.textContent = `$${priceValue}`;
        });
        discountedPrice.textContent = `$${Math.round(parseFloat(variantPrice) * parseFloat(quantityInput.value) * factor)}`;
      });

      quantityInput.addEventListener('change', (e) => {
        e.preventDefault();
        const variant = productVariant.value;
        const quantity = parseInt(e.target.value);
        const factor = {{ discount_factor | default: 1 }};
        const variantPrice = document.querySelector(`option[value="${variant}"]`).getAttribute('data-price') || {{ product.variants.first.price | divided_by: 100.0 | round: 0 }};
        undiscountedPrices.forEach((price) => {
          const priceValue = Math.round(parseFloat(variantPrice) * parseFloat(quantity));
          price.textContent = `$${priceValue}`;
        });
        discountedPrice.textContent = `$${Math.round(parseFloat(variantPrice) * parseFloat(quantity) * factor)}`;
      });
    });
  </script>
{% else %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const quantityInput = document.getElementById('quantity');
      const discountedPrice = document.querySelector('.discounted-price');
      const undiscountedPrices = document.querySelectorAll('.undiscounted-price');

      quantityInput.addEventListener('change', (e) => {
        console.log('log: pressed changed');
        const quantity = parseInt(e.target.value);
        const factor = {{ discount_factor | default: 1 }};
        const variantPrice = {{ product.price_min | divided_by: 100.0 | round: 0 }};
        undiscountedPrices.forEach((price) => {
          const priceValue = Math.round(parseFloat(variantPrice) * parseFloat(quantity));
          price.textContent = `$${priceValue}`;
        });
        discountedPrice.textContent = `$${Math.round(parseFloat(variantPrice) * parseFloat(quantity) * factor)}`;
      });
    });
  </script>
{% endif %}

{% stylesheet %}
  /* For Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* For Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
{% endstylesheet %}

{% comment %} <p>{{ product.variants | json }}</p> {% endcomment %}
{% form 'product', product %}
  {% comment %} Subscription/One-time toggle {% endcomment %}
  <fieldset class="flex flex-col gap-1 font-montserrat">
    <legend class="text-md mb-2 font-semibold">{{ 'products.product.purchase_options' | t }}</legend>
    {% if product.metafields.custom.main_collection.value.id != 399097102552
      and product.metafields.custom.main_collection.value.id != 399307669720
      and product.metafields.custom.main_collection.value.id != 456695218392
    %}
      <div class="relative flex flex-col justify-center overflow-hidden rounded-[30px] border-2 border-solid border-[#98c9eb]">
        <p
          class="md:text-md absolute right-0 top-0 z-10 w-[80px] animate-big-pulse rounded-bl-lg bg-[#F9B233] px-4 py-2 text-center text-sm font-semibold text-white md:w-[120px]"
        >
          {{ 'products.product.subscription_and_save.enjoy_discount' | t -}}
          {{- discount_percentage | floor }}%{{ 'products.product.subscription_and_save.off' | t }}
        </p>
        <label class="relative">
          <input
            type="radio"
            name="purchase_option"
            value="subscription"
            id="subscription_option"
            class="peer absolute left-[15px] top-[12px]"
          >
          <div class="flex h-full w-full cursor-pointer flex-col items-center justify-center gap-3 px-4 py-2 transition peer-checked:bg-[#B9E3FF]">
            <div class="flex w-full flex-col gap-1 pl-2">
              <p class="w-full pl-2 text-left text-sm font-semibold">
                {{ 'products.product.subscription_and_save.title' | t }}
              </p>
              <div class="flex w-full gap-2 pl-2">
                <p class="text-md discounted-price text-left font-semibold">
                  {{ product.price_min | times: discount_factor | money }}
                </p>
                <p class="undiscounted-price text-md text-left font-semibold text-gray-500 line-through">
                  {{ product.price_min | money }}
                </p>
              </div>
            </div>
            {% comment %} Two columns {% endcomment %}
            <div class="flex w-full flex-wrap items-stretch justify-center gap-1">
              {% comment %} Only show Subscriber Gifts for Kibbles Collections {% endcomment %}
              {% if product.metafields.custom.main_collection.value.id == 449592754392 %}
                <div class="flex flex-shrink-0 flex-grow flex-col overflow-hidden rounded-[30px] md:flex-1">
                  <p class="text-md w-full bg-[#98C9EB] px-2 py-2 text-center font-semibold text-white md:text-sm">
                    {{ 'products.product.subscription_and_save.free_subscriber_gifts' | t }}
                  </p>
                  <div class="flex flex-wrap items-center justify-center gap-1 bg-[#D3EAF9] px-2 py-2">
                    <img
                      src="{{ 'Welcome_Box.png' | file_img_url: 'master' }}"
                      class="basis-1/2 object-contain md:w-[120px]"
                      width="100"
                      height="77.5"
                    >

                    <div class="flex flex-col items-start justify-center gap-1 text-[#5b88a7]">
                      <p class="text-md text-left font-semibold md:text-sm">
                        {{ 'products.product.subscription_and_save.free' | t }}
                        <span class="line-through">$24</span>
                      </p>
                      <ul class="flex list-disc flex-col items-start justify-center gap-1 font-museo">
                        <li class="text-md text-left md:text-xs">
                          {{ 'products.product.subscription_and_save.free_subscriber_gifts_subtext_1' | t }}
                        </li>
                        <li class="text-md text-left md:text-xs">
                          {{ 'products.product.subscription_and_save.free_subscriber_gifts_subtext_2' | t }}
                        </li>
                        <li class="text-md text-left md:text-xs">
                          {{ 'products.product.subscription_and_save.free_subscriber_gifts_subtext_3' | t }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="flex flex-shrink-0 flex-grow flex-col overflow-hidden rounded-[30px] md:flex-1">
                <p class="text-md w-full bg-[#98C9EB] px-2 py-2 text-center font-semibold text-white md:text-sm">
                  {{ 'products.product.subscription_and_save.subscriber_perks' | t }}
                </p>
                <ul class="flex h-full w-full list-none flex-col items-start justify-center bg-[#D3EAF9] px-2 py-2 pl-6 font-museo text-[#5b88a7]">
                  <li class="text-md max-w-[200px] text-left before:mr-2 before:text-black before:content-['✓'] md:max-w-none md:text-xs">
                    {{ 'products.product.subscription_and_save.subscriber_perks_subtext_1_part_1' | t }}
                    {{ discount_percentage | floor }}%
                    {{- 'products.product.subscription_and_save.subscriber_perks_subtext_1_part_2' | t }}
                  </li>
                  <li class="text-md max-w-[200px] text-left before:mr-2 before:text-black before:content-['✓'] md:max-w-none md:text-xs">
                    {{ 'products.product.subscription_and_save.subscriber_perks_subtext_2' | t }}
                  </li>
                  <li class="text-md max-w-[200px] text-left before:mr-2 before:text-black before:content-['✓'] md:max-w-none md:text-xs">
                    {{ 'products.product.subscription_and_save.subscriber_perks_subtext_3' | t }}
                  </li>
                  <li class="text-md max-w-[200px] text-left before:mr-2 before:text-black before:content-['✓'] md:max-w-none md:text-xs">
                    {{ 'products.product.subscription_and_save.subscriber_perks_subtext_4' | t }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </label>
        <label
          id="delivery_option_label"
          class="flex w-full items-center justify-start gap-2 bg-[#B9E3FF] px-4 py-2"
        >
          <select
            name="selling_plan"
            id="delivery_option_select"
            class="w-full rounded-full border-2 border-solid border-[#98c9eb] px-4 py-1 text-center"
          >
            {% for plan_group in product.selling_plan_groups %}
              {% if plan_group.app_id == 'SKIO' %}
                {% for plan in plan_group.selling_plans %}
                  <option
                    value="{{ plan.id }}"
                    {% if forloop.first %}
                      selected
                    {% endif %}
                  >
                    {{ plan.options[0].value }}
                  </option>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </select>
        </label>
      </div>
    {% endif %}
    <label class="relative overflow-hidden rounded-[30px] border-2 border-solid border-[#98c9eb] font-montserrat">
      <input
        type="radio"
        name="purchase_option"
        value="one_time"
        class="peer absolute left-[15px] top-[12px]"
        checked
        id="one_time_option"
        {% comment %}
          {% if product.metafields.custom.main_collection.value.id == 440255250747
            or product.metafields.custom.main_collection.value.id == 399307669720
            or product.metafields.custom.main_collection.value.id == 456695218392
          %}
            checked
          {% endif %}
        {% endcomment %}
      >
      <div class="flex h-full w-full cursor-pointer flex-col items-start justify-center gap-1 rounded px-4 py-2 pl-6 transition peer-checked:bg-[#B9E3FF]">
        <p class="w-full pl-2 text-left text-sm font-semibold">{{ 'products.product.one_time' | t }}</p>
        <p class="text-md undiscounted-price pl-2 text-left font-semibold text-black">
          {{ product.price_min | money }}
        </p>
      </div>
    </label>
  </fieldset>

  <div class="mt-2 flex justify-between gap-2">
    {% comment %} Variant selection (greyed out if sold out) {% endcomment %}
    {% if product.variants.size > 1 %}
      <select
        id="product-variant"
        class="basis-3/4 rounded-[30px] border-2 border-solid border-[#98c9eb] px-4 py-1"
        name="id"
      >
        {% for variant in product.variants %}
          {% if variant.available %}
            {% comment %} hide 2kg duck {% endcomment %}
            {% if product.id == 7761196941528 and variant.title == '2kg' %}
            {% else %}
              <option
                value="{{ variant.id }}"
                class="text-center"
                data-price="{{ variant.price | divided_by: 100.0 | round: 0 }}"
              >
                {{ variant.title }}
              </option>
            {% endif %}
          {% endif %}
        {% endfor %}
      </select>
    {% else %}
      <input
        type="hidden"
        name="id"
        value="{{ product.variants.first.id }}"
      >
    {% endif %}
    {% comment %} Quantity selector {% endcomment %}
    <div class="relative {% if product.variants.size > 1 %} basis-1/4 {% else %} basis-full {% endif %}">
      <input
        type="button"
        value="-"
        id="qtyminus"
        class="absolute left-0 top-1/2 aspect-square w-[30px] -translate-y-1/2"
        field="quantity"
      >
      <input
        type="number"
        name="quantity"
        id="quantity"
        class="w-full rounded-[30px] border-2 border-solid border-[#98c9eb] px-4 py-1 text-center"
        value="1"
        min="1"
        max="99"
        {% if product.id == 10157743702331
          or product.id == 10146222506299
          or product.metafields.custom.main_collection.value.id == 440255250747
          or product.metafields.custom.main_collection.value.id == 399307669720
          or product.metafields.custom.main_collection.value.id == 456695218392
        %}
          readonly
        {% endif %}
      >
      <input
        type="button"
        value="+"
        id="qtyplus"
        class="absolute right-0 top-1/2 aspect-square w-[30px] -translate-y-1/2"
        field="quantity"
      >
    </div>
  </div>

  {% comment %} Dynamic price display (with discount) {% endcomment %}

  {% comment %} Add to Cart button {% endcomment %}
  {% if product.selected_or_first_available_variant.available %}
    <button
      type="submit"
      class="mt-2 w-full rounded-[30px] bg-[#98c9eb] px-4 py-2 font-montserrat text-xl font-semibold text-white"
      id="add-to-cart-button"
    >
      {{ 'products.product.add_to_cart' | t }}
    </button>
  {% else %}
    <button
      type="submit"
      class="mt-2 w-full rounded-[30px] bg-[#98c9eb] px-4 py-2 font-montserrat text-xl font-semibold text-white"
      id="add-to-cart-button"
      disabled
    >
      {{ 'products.product.out_of_stock' | t }}
    </button>
  {% endif %}
{% endform %}
{% comment %}
  <script>
    {% if product.title contains 'Toppers' or product.title contains '伴糧' %}
      document.addEventListener('DOMContentLoaded', function () {
        const productVariant = document.getElementById('product-variant');
        productVariant.remove(0);
      });
    {% endif %}
  </script>
{% endcomment %}
