<main class="bg-[#F5F5F5] font-foundersGrotesk text-[#173C6A]">
  <!-- Hero Section -->
  <section class="relative">
    <img
      src="{{ 'homepage_banner_2.png' | file_img_url: 'master' }}"
      alt="Hero Image"
      class="hidden h-full w-full object-cover md:block"
    >
    <img
      src="{{ 'homepage_banner_mobile_2.png' | file_img_url: 'master' }}"
      alt="Hero Image"
      class="block h-full w-full object-cover md:hidden"
    >
    <div class="absolute left-0 top-0 flex h-1/2 w-full flex-col items-start justify-center gap-8 px-4 text-left md:h-full md:w-[40%] md:gap-6 md:px-10">
      <h1 class="text-balance font-titanOne text-[clamp(40px,5vw,55px)] leading-[clamp(40px,5vw,55px)]">
        Premium European Kibble
      </h1>
      <p class="text-balance text-[clamp(20px,2.5vw,25px)] font-medium leading-[clamp(30px,2.5vw,35px)]">
        Vet-backed formula, Gut-Friendly prebiotics. Nearly 10 million meals donated.
      </p>
      <a
        href="{{ pages['quiz'].url }}"
        class="btn-cta"
      >
        Take Our Quiz
      </a>
    </div>
  </section>
  <section>
    <div class="container flex flex-col items-center justify-center gap-4 py-5 md:py-10">
      <h2 class="text-balance text-center font-titanOne text-[clamp(40px,5vw,55px)] uppercase leading-[clamp(40px,5vw,55px)]">
        Start with our favourites
      </h2>
      <div class="flex gap-4 text-[clamp(28px,1.9vw,32px)]">
        <button id="btn-fav-dog" class="btn-fav-tab flex flex-col items-center justify-center">
          Dog
          <span class="span-fav-tab span-fav-tab-active h-[1px] w-full" />
        </button>
        <button id="btn-fav-cat" class="btn-fav-tab flex flex-col items-center justify-center">
          Cat
          <span class="span-fav-tab h-[1px] w-full" />
        </button>
      </div>
      <div id="tab-fav-dog" class="w-full">
        <div class="swiper swiper-fav-dog">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'salmon_kibble.png' | file_img_url: 'master' }}"
                  alt="Dog Salmon Kibbles"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2">
                  <div class="flex w-full justify-between gap-2 text-[14px] font-semibold">
                    <p>Adult Kibbles</p>
                    <p>$32.80</p>
                  </div>
                  <p class="text-[14px] font-normal">Sweet Potato and Salmon Recipe</p>
                </div>
                <a href="{{ all_products['adult-salmon-dry-dog-food'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $32.80
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'beef_treat.png' | file_img_url: 'master' }}"
                  alt="Dog Beef Treats"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2">
                  <div class="flex w-full justify-between gap-2 text-[14px] font-semibold">
                    <p>Air-Dried Dog Treats</p>
                    <p>$13.50</p>
                  </div>
                  <p class="text-[14px] font-normal">Beef & Blueberry Recipe</p>
                </div>
                <a href="{{ all_products['beef-blueberry-air-dried-dog-treats'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $13.50
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'beef_topper.png' | file_img_url: 'master' }}"
                  alt="Dog Beef Toppers"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2">
                  <div class="flex w-full justify-between gap-2 text-[14px] font-semibold">
                    <p>Fresh Toppers</p>
                    <p>$7.20</p>
                  </div>
                  <p class="text-[14px] font-normal">Beef & Vegetables Recipe</p>
                </div>
                <a href="{{ all_products['dog-fresh-toppers-beef-vegetables'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $7.20
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-fav-cat" class="hidden w-full">
        <div class="swiper swiper-fav-cat">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'cat_kibbles_salmon_front.png' | file_img_url: 'master' }}"
                  alt="Cat Salmon Kibbles"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2">
                  <div class="flex w-full justify-between gap-2 text-[14px] font-semibold">
                    <p>Cat Kibbles</p>
                    <p>$32.80</p>
                  </div>
                  <p class="text-[14px] font-normal">Salmon Recipe</p>
                </div>
                <a href="{{ all_products['adult-salmon-dry-cat-food'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $32.80
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'cat_kibbles_chicken_front.png' | file_img_url: 'master' }}"
                  alt="Cat Chicken Kibbles"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2">
                  <div class="flex w-full justify-between gap-2 text-[14px] font-semibold">
                    <p>Cat Kibbles</p>
                    <p>$13.50</p>
                  </div>
                  <p class="text-[14px] font-normal">Chicken Recipe</p>
                </div>
                <a href="{{ all_products['adult-chicken-dry-cat-food'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $13.50
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'kitten_kibbles_chicken_front.png' | file_img_url: 'master' }}"
                  alt="Kitten Chicken Kibbles"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2">
                  <div class="flex w-full justify-between gap-2 text-[14px] font-semibold">
                    <p>Kitten Kibbles</p>
                    <p>$7.20</p>
                  </div>
                  <p class="text-[14px] font-normal">Kitten Chicken Recipe</p>
                </div>
                <a href="{{ all_products['kitten-chicken-dry-cat-food'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $7.20
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-fav-cat"></div>
    </div>
  </section>
</main>

{% style %}
  .swiper-fav-dog {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
{% endstyle %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    const favTabs = document.querySelectorAll('.btn-fav-tab');
    favTabs.forEach(function (tab) {
      tab.addEventListener('click', function () {
        // Remove active class from all tabs
        const spanClicked = tab.querySelector('.span-fav-tab');

        favTabs.forEach(function (t) {
          const span = t.querySelector('.span-fav-tab');
          span.classList.remove('span-fav-tab-active');
        });
        // Add active class to the clicked tab
        spanClicked.classList.add('span-fav-tab-active');
      });
    });

    const swiperFavDog = new Swiper('.swiper-fav-dog', {
      loop: true,
      autoplay: { delay: 2500, disableOnInteraction: false },
      slidesPerView: 1,
      spaceBetween: 16,
      breakpoints: {
        320: { slidesPerView: 1, spaceBetween: 16 },
        1024: { slidesPerView: 3, spaceBetween: 16 },
      },
    });

    const swiperFavCat = new Swiper('.swiper-fav-cat', {
      loop: true,
      autoplay: { delay: 2500, disableOnInteraction: false },
      slidesPerView: 1,
      spaceBetween: 16,
      breakpoints: {
        320: { slidesPerView: 1, spaceBetween: 16 },
        1024: { slidesPerView: 3, spaceBetween: 16 },
      },
    });

    const btnFavDog = document.getElementById('btn-fav-dog');
    const btnFavCat = document.getElementById('btn-fav-cat');
    const tabFavDog = document.getElementById('tab-fav-dog');
    const tabFavCat = document.getElementById('tab-fav-cat');

    btnFavDog.addEventListener('click', function () {
      tabFavDog.classList.remove('hidden');
      tabFavCat.classList.add('hidden');
    });

    btnFavCat.addEventListener('click', function () {
      tabFavDog.classList.add('hidden');
      tabFavCat.classList.remove('hidden');
    });
  });
{% endjavascript %}

{% schema %}
{
  "name": "Homepage",
  "settings": []
}
{% endschema %}
