{% style %}
  .swiper-product {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute !important;
    top: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
    z-index: 10 !important;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next:after {
    content: '';
    display: block;
    width: 15px;
    height: 25px;
    transform: rotate(180deg);
    background-image: url('{{ 'swiper-arrow-blue.svg' | asset_url }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-button-prev:after {
    content: '';
    display: block;
    width: 15px;
    height: 25px;
    background-image: url('{{ 'swiper-arrow-blue.svg' | asset_url }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-navigation-icon {
    display: none;
  }
{% endstyle %}

{% comment %} Breadcrumbs {% endcomment %}
<div class="container flex items-center px-5 pt-7">
  <div class="flex flex-wrap items-center gap-2">
    <a href="{{ shop.url }}" class="font-montserrat text-[16px] font-light text-black underline">Home</a>
    <span class="font-montserrat text-[16px] font-light text-black">›</span>
    <p class="font-montserrat text-[16px] font-light text-black">{{ product.title }}</p>
  </div>
</div>

<section class="container relative p-5">
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    {% comment %} Product Image {% endcomment %}
    <div class="relative h-full">
      <div class="sticky top-0 h-fit w-full overflow-hidden rounded-3xl">
        <div class="swiper-product">
          <div class="swiper-button-prev"></div>
          <div class="swiper-wrapper">
            {% for image in product.media %}
              <div class="swiper-slide">
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" class="h-full w-full object-cover">
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    {% comment %} Product Details {% endcomment %}
    <div class="flex flex-col gap-2">
      <h2 class="m-0 text-[24px] font-bold en:font-museo">{{ 'products.product.treats_full_title' | t }}</h2>
      <h2 class="m-0 text-[16px] font-normal text-[#808080] en:font-montserrat">{{ product.title }}</h2>
      <div
        class="klaviyo-star-rating-widget"
        data-id="{{ product.id }}"
        data-product-title="{{ product.title }}"
        data-product-type="{{ product.type }}"
      ></div>

      <div class="flex flex-col justify-center gap-2">
        <p class="text-[16px] font-bold text-black en:font-museo">{{ 'products.product.choose_treat' | t }}:</p>
        <div class="flex gap-2">
          {% for prd in collections['treats-chews'].products %}
            {% if prd.id != 9683185238331 %}
              {% assign metaobj_list = prd.metafields.custom.flavor.value %}

              {% for m_obj in metaobj_list %}
                <a href="{{ prd.url }}" class="flex w-[100px] flex-col items-center justify-start gap-2">
                  <img
                    src="{{ m_obj.featured_image.value | image_url: width: 100, height: 100  }}"
                    width="100"
                    height="100"
                    class="rounded-xl border-2 border-solid {% if product.title == prd.title %} border-black opacity-100 {% else %} border-[#C3C3C3] opacity-50{% endif %}"
                  >
                  <p class="text-center font-normal en:font-museo en:text-[14px] zh-TW:text-[14px]">
                    <b>{{ m_obj.name }}</b>
                  </p>
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="prose prose-base marker:text-black prose-ul:list-disc">
        {{ product.description }}
      </div>
      {% comment %} Start Add To Cart {% endcomment %}
      {% render 'snippet-add-to-cart' %}
    </div>
  </div>
</section>

{% if product.id == 7404514508957 or product.id == 9683189530939 %}
  {% render 'product-treats-nutrition-dental' %}
{% elsif product.id == 9343202492731 or product.id == 9683185238331 %}
  {% render 'product-treats-nutrition-beef' %}
{% elsif product.id == 9343201870139 or product.id == 9683187433787 %}
  {% render 'product-treats-nutrition-chicken' %}
{% endif %}

{% render 'snippet-vet-recommendations' %}

<script>
  const swiper = new Swiper('.swiper-product', {
    // Optional parameters
    direction: 'horizontal',
    spaceBetween: 10,
    autoplay: false,
    loop: true,
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Product Treats",
  "settings": []
}
{% endschema %}
