<section class="container relative grid grid-cols-1 gap-10 py-[60px] lg:grid-cols-2">
  <div class="order-2 flex items-center justify-center lg:order-1">
    <img
      src="{{ 'Layer_1_b48e6a78-5ef1-4798-b450-7cad5df3eb2d.png' | file_img_url: 'master' }}"
      alt="Read Our Blog"
      class="w-[50%] -rotate-[15deg] lg:w-[65%]"
    >
  </div>
  <div class="order-1 flex flex-col items-center justify-center gap-5 lg:order-2">
    <h2 class="text-center text-[30px] uppercase text-[#193C6B] en:font-museo lg:text-[40px]">
      {{ 'read_our_blog.title1' | t }}
      <br>
      {{ 'read_our_blog.title2' | t }}
    </h2>
    <a
      href="{{ blogs.lifestyle.url }}"
      class="rounded-full border-2 border-[#193C6B] bg-[#193C6B] px-10 py-2 text-center text-[18px] font-light uppercase text-white hover:bg-white hover:text-[#193C6B] en:font-museo lg:text-[20px]"
    >
      {{- 'read_our_blog.read_more' | t -}}
    </a>
  </div>
</section>
{% schema %}
{
  "name": "Read Our Blog",
  "settings": [],
  "blocks": []
}
{% endschema %}
