{% style %}
  .swiper-product,
  .swiper-vets {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-next-vets,
  .swiper-button-prev-vets {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 10;
  }

  .swiper-button-next,
  .swiper-button-next-vets {
    right: 10px;
    display: block;
    width: 15px;
    height: 25px;
    transform: rotate(180deg);
    background-image: url('{{ 'swiper-arrow-blue.svg' | asset_url }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-button-prev,
  .swiper-button-prev-vets {
    left: 10px;
    display: block;
    width: 15px;
    height: 25px;
    background-image: url('{{ 'swiper-arrow-blue.svg' | asset_url }}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-button-next:after,
  .swiper-button-next-vets:after {
    content: '';
    display: none;
  }

  .swiper-button-prev:after,
  .swiper-button-prev-vets:after {
    content: '';
    display: none;
  }

  .swiper-navigation-icon {
    display: none;
  }
{% endstyle %}

{% comment %} Breadcrumbs {% endcomment %}
<div class="container flex items-center px-5 pt-7">
  <div class="flex flex-wrap items-center gap-2">
    <a href="{{ shop.url }}" class="font-montserrat text-[16px] font-light text-black underline">Home</a>
    <span class="font-montserrat text-[16px] font-light text-black">›</span>
    <p class="font-montserrat text-[16px] font-light text-black">{{ product.title }}</p>
  </div>
</div>

{% comment %} Product Details Page {% endcomment %}
<section class="container relative p-5">
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-2">
    {% comment %} Product Image {% endcomment %}
    <div class="relative h-full">
      <div class="sticky top-0 h-fit w-full overflow-hidden rounded-3xl">
        <div class="swiper-product">
          <div class="swiper-button-prev"></div>
          <div class="swiper-wrapper">
            {% for image in product.media %}
              <div class="swiper-slide">
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" class="h-full w-full object-cover">
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    {% comment %} Product Details {% endcomment %}
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1">
        <h2 class="m-0 text-[24px] font-bold en:font-museo">Buddy Bites {{ 'products.product.starter_packs' | t }}</h2>
        <h3 class="font-montserrat text-[16px] font-light text-gray-500">
          {{ product.title }}
        </h3>
      </div>
      <div
        class="klaviyo-star-rating-widget"
        data-id="{{ product.id }}"
        data-product-title="{{ product.title }}"
        data-product-type="{{ product.type }}"
      ></div>

      <div class="flex items-center justify-start gap-2">
        <p class=" text-[16px] font-normal text-gray-500 line-through en:font-museo">
          {{- product.price | plus: 11500 | money -}}
        </p>
        <p class=" text-[16px] font-semibold text-red-500 en:font-museo">
          {{- product.price | money -}}
        </p>
        <p class=" rounded-full bg-red-500 px-2 py-1 text-[16px] font-semibold text-white en:font-museo">
          {{ 'products.product.save' | t }} $115
        </p>
      </div>

      {% if product.metafields.custom.main_collection.value.id == 440255250747 %}
        <div class="flex flex-col justify-center gap-2">
          <p class="text-[16px] font-bold text-black en:font-museo">{{ 'products.product.choose_flavour' | t }}:</p>
          <div class="flex justify-start gap-2">
            {% for prd in collections['tester-packs'].products %}
              {% assign metaobj_list = prd.metafields.custom.flavor.value %}

              {% for m_obj in metaobj_list %}
                {% if m_obj.product.value.id != 8988037349691 %}
                  {% if m_obj.product.value.metafields.custom.main_collection.value.id == 440255250747 %}
                    <a href="{{ prd.url }}" class="flex basis-[19%] flex-col items-center justify-center md:basis-auto">
                      <img
                        src="{{ m_obj.featured_image.value | image_url: width: 100, height: 100  }}"
                        width="100"
                        height="100"
                        class="aspect-square w-[50px] rounded-xl border-2 border-solid object-cover md:w-full {% if product.title == prd.title %} border-black opacity-100 {% else %} border-[#C3C3C3] opacity-50{% endif %}"
                      >
                      <p class="text-center font-normal en:font-museo en:text-[16px] zh-TW:text-[14px]">
                        {% assign my_string = m_obj.name %}
                        {% assign remaining_string_size = my_string.size | minus: 7 %}
                        <b>{{ my_string | slice: 0, remaining_string_size }}</b>
                      </p>
                    </a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>

          {% if product.id != 8988037349691 %}
            <div class="rounded-lg flex items-center justify-center gap-1 border-2 border-gray-200 px-2 py-[5px] font-montserrat text-[14px] font-light">
              <p></p>{{ 'products.product.have_puppy' | t }}</p>
              <a href="{{ all_products['puppy-sample-starter-pack'].url }}" class="font-bold underline">
                {{- 'products.product.have_puppy_link_text' | t -}}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="prose prose-base marker:text-black prose-ul:list-disc">
        {{ product.description }}
      </div>
      {% render 'snippet-add-to-cart' %}
    </div>
  </div>
</section>

{% comment %} Kibbles Nutrition {% endcomment %}
{% if product.id == 8987006402875 %}
  {% render 'product-kibbles-nutrition-duck' %}
{% elsif product.id == 8987025113403 %}
  {% render 'product-kibbles-nutrition-lamb' %}
{% elsif product.id == 8988019032379 %}
  {% render 'product-kibbles-nutrition-turkey' %}
{% elsif product.id == 8988008677691 %}
  {% render 'product-kibbles-nutrition-salmon' %}
{% elsif product.id == 8988037349691 %}
  {% render 'product-kibbles-nutrition-puppy' %}
{% endif %}

{% render 'snippet-vet-recommendations' %}

<script>
  const swiper = new Swiper('.swiper-product', {
    // Optional parameters
    direction: 'horizontal',
    spaceBetween: 10,
    autoplay: false,
    loop: true,
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Kibbles Product Section",
  "settings": []
}
{% endschema %}
