<main class="bg-[#FCF9F1] font-foundersGrotesk text-[#193C6A]">
  <section class="py-5 md:py-7">
    <div class="container px-4">
      <div class="grid grid-cols-1 gap-2 md:grid-cols-[55%_45%]">
        {% comment %} Product Image {% endcomment %}
        <div class="relative h-full">
          <div class="sticky top-0 flex h-fit w-full flex-col overflow-hidden md:block">
            <div class="h-full w-full">
              {% for image in product.images %}
                {% assign index = forloop.index0 %}
                <img
                  src="{{ image | img_url: 'master' }}"
                  alt="{{ image.alt }}"
                  class="h-full w-full rounded-[20px] object-cover {% if index != 0 %} hidden {% endif %}"
                  id="product-image-{{ index }}"
                >
              {% endfor %}
            </div>
            <div class="relative z-0 flex flex-row flex-wrap gap-1 md:absolute md:left-[50px] md:top-1/2 md:z-10 md:w-[50px] md:-translate-y-1/2 md:flex-col">
              {% for image in product.images %}
                {% assign index = forloop.index0 %}
                <img
                  src="{{ image | img_url: 'master' }}"
                  alt="{{ image.alt }}"
                  class="w-[50px] rounded-lg border-2 border-gray-200/50 object-cover md:h-full md:w-full"
                  data-target-index="#product-image-{{ index }}"
                  width="10"
                >
              {% endfor %}
            </div>
          </div>
        </div>

        {% comment %} Product Details {% endcomment %}
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-2 rounded-[20px] bg-white p-5">
            <div class="flex flex-col">
              <h2 class="m-0 text-[28px] font-normal md:text-[34px]">
                Buddy Bites {{ 'products.product.adult_kibbles' | t }}
              </h2>
              <p class="text-[16px] font-light">
                {{ product.title }}
                {{ 'products.product.flavour' | t }}
              </p>
              <div
                class="klaviyo-star-rating-widget"
                data-id="{{ product.id }}"
                data-product-title="{{ product.title }}"
                data-product-type="{{ product.type }}"
              ></div>
            </div>
            {% comment %} Choose Flavour {% endcomment %}
            <div class="flex flex-col justify-center gap-2">
              <p class="text-[16px] font-bold en:font-museo">{{ 'products.product.choose_flavour' | t }}:</p>
              <div class="flex gap-2">
                {% for prd in collections['adult-kibbles'].products %}
                  {% assign metaobj_list = prd.metafields.custom.flavor.value %}
                  {% for m_obj in metaobj_list %}
                    {% if prd.id != 9038841282776 %}
                      <a href="{{ prd.url }}">
                        <img
                          src="{{ m_obj.featured_image.value | image_url: width: 100, height: 100  }}"
                          width="100"
                          height="100"
                          class="rounded-xl border-2 border-solid {% if product.title == prd.title %} border-[#193C6A] opacity-100 {% else %} border-[#C3C3C3] opacity-50{% endif %}"
                        >
                        <p class="text-center font-semibold en:text-[16px] zh-TW:text-[14px]">
                          <b>{{ m_obj.name }}</b>
                        </p>
                      </a>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
              <div class="flex items-center justify-center gap-1 rounded-lg border-2 border-gray-200 px-2 py-[5px] font-montserrat text-[14px] font-light">
                <p>{{ 'products.product.have_puppy' | t }}</p>
                <a href="{{ all_products['puppy-dry-dog-food'].url }}" class="font-bold underline">
                  {{- 'products.product.have_puppy_link_text' | t -}}
                </a>
              </div>
              {% if product.id == 7699913244888 or product.id == 9038841282776 %}
                <div class="flex w-fit flex-col items-start justify-start gap-2 text-center">
                  <p class="inline w-full text-center text-[16px] font-bold">
                    {{ 'products.product.choose_kibble_size' | t }}
                  </p>
                  <div class="grid grid-cols-2 items-center gap-2 md:min-w-[330px]">
                    <a
                      href="{{ all_products['adult-mini-salmon-dry-dog-food'].url }}"
                      class="flex h-full cursor-pointer flex-col items-center justify-between gap-2 rounded-xl {% if product.id == 9038841282776 %} border-2  border-[#193C9B]{% endif %} bg-[#F4F4F4] px-2 py-3"
                    >
                      <p class="text-[16px] font-bold">6-8{{ 'products.product.millimetres' | t }}</p>
                      <div class="flex aspect-square w-[80px] flex-col items-center justify-center object-contain">
                        <img
                          src="{{ 'Kibble.png' | file_img_url: 'master' }}"
                          alt="4-6mm"
                          class="aspect-square w-[40px] object-contain"
                        >
                      </div>
                      <div class="flex flex-col items-center justify-center gap-1">
                        <p class="font-normal md:text-[18px]">
                          {{ 'products.product.small_kibbles' | t }}
                        </p>
                        {% if product.id == 9038841282776 %}
                          <p class="text-center font-semibold text-[#4E4E4E] en:text-[16px] zh-TW:text-[14px]">
                            {{ 'products.product.selected' | t }}
                          </p>
                        {% else %}
                          <p class="font-bold text-[#193C6B] underline md:text-[18px]">
                            {{ 'products.product.shop_small' | t }}
                          </p>
                        {% endif %}
                        <p class="text-center font-normal en:text-[16px] zh-TW:text-[14px]">
                          {{ 'products.product.great_for_puppies' | t }}
                        </p>
                      </div>
                    </a>
                    <a
                      href="{{ all_products['adult-salmon-dry-dog-food'].url }}"
                      class="flex h-full cursor-pointer flex-col items-center justify-between gap-2 rounded-xl {% if product.id == 7699913244888 %} border-2  border-[#193C9A]{% endif %} bg-[#F4F4F4] px-2 py-3"
                    >
                      <p class="text-[16px] font-bold en:font-museo">12-14{{ 'products.product.millimetres' | t }}</p>
                      <img
                        src="{{ 'Kibble.png' | file_img_url: 'master' }}"
                        alt="12-14mm"
                        class="aspect-square w-[50px] object-contain"
                      >
                      <div class="flex flex-col items-center justify-center gap-1">
                        <p class="font-bold md:text-[18px]">
                          {{ 'products.product.large_kibbles' | t }}
                        </p>
                        {% if product.id == 7699913244888 %}
                          <p class="text-center font-semibold text-[#4E4E4E] en:text-[16px] zh-TW:text-[14px]">
                            {{ 'products.product.selected' | t }}
                          </p>
                        {% else %}
                          <p class="font-bold text-[#193C6B] underline md:text-[18px]">
                            {{ 'products.product.shop_large' | t }}
                          </p>
                        {% endif %}
                        <p class="text-center font-normal en:text-[16px] zh-TW:text-[14px]">
                          {{ 'products.product.adults_and_10lb' | t }}
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
              {% endif %}
            </div>
            {% comment %} Product Description {% endcomment %}
            <div class="prose prose-base marker:text-black prose-ul:list-disc">
              {{ product.description }}
            </div>
            {% render 'snippet-add-to-cart-new' %}
          </div>

          {% comment %} Accordions {% endcomment %}
          <div class="flex flex-col gap-2 rounded-[20px] bg-white p-5">
            {% comment %} Ingredients + Nutrition {% endcomment %}
            <div
              data-product-accordion-target="#ingredients-nutrition-content"
              class="flex cursor-pointer flex-col gap-2"
            >
              <div class="flex flex-col gap-2 pb-2">
                <div class="flex flex-row items-center justify-between border-b border-solid border-[#193C6A]/50">
                  <h3 class="py-2 text-[16px] font-semibold">Ingredients + Nutrition</h3>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    class="inline-block align-middle"
                    aria-hidden="true"
                  >
                    <circle
                      cx="8.5"
                      cy="8.5"
                      r="7.65"
                      stroke="#5B88A7"
                      stroke-width="1.275"
                      fill="none"
                    />
                    <rect
                      x="7.65"
                      y="4.25"
                      width="1.7"
                      height="8.5"
                      rx="0.425"
                      fill="#193C6A"
                    />
                    <rect
                      x="4.25"
                      y="7.65"
                      width="8.5"
                      height="1.7"
                      rx="0.425"
                      fill="#193C6A"
                    />
                  </svg>
                </div>
                <div id="ingredients-nutrition-content" class="hidden flex-col gap-2 px-2 py-3">
                  <p class="text-[14px] font-light">
                    {{ product.metafields.custom.nutrition.value.ingredients }}
                  </p>
                  <p class="text-[14px] font-light">
                    {{ product.metafields.custom.nutrition.value.nutritional_content }}
                  </p>
                </div>
              </div>
            </div>
            {% comment %} Feeding Guildine {% endcomment %}
            <div
              data-product-accordion-target="#feeding-guidelines-content"
              class="flex cursor-pointer flex-col gap-2"
            >
              <div class="flex flex-col gap-2 pb-2">
                <div class="flex flex-row items-center justify-between border-b border-solid border-[#193C6A]/50">
                  <h3 class="py-2 text-[16px] font-semibold">Feeding Guildine</h3>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    class="inline-block align-middle"
                    aria-hidden="true"
                  >
                    <circle
                      cx="8.5"
                      cy="8.5"
                      r="7.65"
                      stroke="#5B88A7"
                      stroke-width="1.275"
                      fill="none"
                    />
                    <rect
                      x="7.65"
                      y="4.25"
                      width="1.7"
                      height="8.5"
                      rx="0.425"
                      fill="#193C6A"
                    />
                    <rect
                      x="4.25"
                      y="7.65"
                      width="8.5"
                      height="1.7"
                      rx="0.425"
                      fill="#193C6A"
                    />
                  </svg>
                </div>
                <div id="feeding-guidelines-content" class="hidden flex-col gap-2 px-2 py-3">
                  <p class="text-[14px] font-light">
                    {{ product.metafields.custom.nutrition.value.ingredients }}
                  </p>
                  <p class="text-[14px] font-light">
                    {{ product.metafields.custom.nutrition.value.nutritional_content }}
                  </p>
                </div>
              </div>
            </div>
            {% comment %} FAQs {% endcomment %}
            <div
              data-product-accordion-target="#faqs-content"
              class="flex cursor-pointer flex-col gap-2"
            >
              <div class="flex flex-col gap-2 pb-2">
                <div class="flex flex-row items-center justify-between border-b border-solid border-[#193C6A]/50">
                  <h3 class="py-2 text-[16px] font-semibold">FAQs</h3>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="17"
                    viewBox="0 0 17 17"
                    fill="none"
                    class="inline-block align-middle"
                    aria-hidden="true"
                  >
                    <circle
                      cx="8.5"
                      cy="8.5"
                      r="7.65"
                      stroke="#5B88A7"
                      stroke-width="1.275"
                      fill="none"
                    />
                    <rect
                      x="7.65"
                      y="4.25"
                      width="1.7"
                      height="8.5"
                      rx="0.425"
                      fill="#193C6A"
                    />
                    <rect
                      x="4.25"
                      y="7.65"
                      width="8.5"
                      height="1.7"
                      rx="0.425"
                      fill="#193C6A"
                    />
                  </svg>
                </div>
                <div id="faqs-content" class="hidden flex-col gap-2 px-2 py-3">
                  <div class="w-full text-left">
                    <p class="text-[18px] font-semibold">{{ 'products.product.faq.shipping.title' | t }}</p>
                    <p class="mt-2 text-[14px] font-light">
                      {{ 'products.product.faq.shipping.answer' | t }}
                    </p>
                  </div>
                  <div class="w-full text-left">
                    <p class="text-[18px] font-semibold">
                      {{ 'products.product.faq.flexible_subscription.title' | t }}
                    </p>
                    <p class="mt-2 text-[14px] font-light">
                      {{ 'products.product.faq.flexible_subscription.answer' | t }}
                    </p>
                  </div>
                  <div class="w-full text-left">
                    <p class="text-[18px] font-semibold">{{ 'products.product.faq.giving_back.title' | t }}</p>
                    <p class="mt-2 text-[14px] font-light">
                      {{ 'products.product.faq.giving_back.answer' | t }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 md:py-7">
    <div class="container grid grid-cols-2 gap-4 rounded-[20px] bg-[#193C6A] px-4 py-5 md:grid-cols-4 md:px-32 md:py-10">
      <div class="flex flex-col items-center justify-start gap-2 md:justify-between">
        <img
          src="{{ product.metafields.custom.product_details.value.benefit_icon_1 | img_url: 'master' }}"
          alt="Icon Prebiotics"
          class="w-[45px] py-2 md:w-[70px]"
        >
        <div class="flex flex-col items-center justify-center gap-1">
          <p class="text-center text-[14px] font-medium text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.benefit_1 }}
          </p>
          <p class="text-center text-[14px] font-normal text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.detail_benefit_1 }}
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-start gap-2 md:justify-between">
        <img
          src="{{ product.metafields.custom.product_details.value.benefit_icon_2 | img_url: 'master' }}"
          alt="Icon Prebiotics"
          class="w-[45px] py-2 md:w-[70px]"
        >
        <div class="flex flex-col items-center justify-center gap-1">
          <p class="text-center text-[14px] font-medium text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.benefit_2 }}
          </p>
          <p class="text-center text-[14px] font-normal text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.detail_benefit_2 }}
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-start gap-2 md:justify-between">
        <img
          src="{{ product.metafields.custom.product_details.value.benefit_icon_3 | img_url: 'master' }}"
          alt="Icon Prebiotics"
          class="w-[45px] py-2 md:w-[70px]"
        >
        <div class="flex flex-col items-center justify-center gap-1">
          <p class="text-center text-[14px] font-medium text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.benefit_3 }}
          </p>
          <p class="text-center text-[14px] font-normal text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.detail_benefit_3 }}
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-start gap-2 md:justify-between">
        <img
          src="{{ product.metafields.custom.product_details.value.benefit_icon_4 | img_url: 'master' }}"
          alt="Icon Prebiotics"
          class="w-[45px] py-2 md:w-[70px]"
        >
        <div class="flex flex-col items-center justify-center gap-1">
          <p class="text-center text-[14px] font-medium text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.benefit_4 }}
          </p>
          <p class="text-center text-[14px] font-normal text-white md:text-[16px]">
            {{ product.metafields.custom.product_details.value.detail_benefit_4 }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 md:py-7">
    <div class="container grid grid-cols-1 gap-4 md:grid-cols-2">
      <img
        src="{{ product.metafields.custom.product_details.value.ingredients_poster | img_url: 'master' }}"
        alt="Kibbles Ingredients Poster Image"
        class="w-full overflow-hidden rounded-[20px] object-cover"
      >
      <div class="flex flex-col items-center justify-between gap-10 rounded-[20px] bg-white p-5">
        <div class="flex w-full flex-col items-start justify-start gap-2">
          <h2 class="font-titanOne text-[clamp(25px,2.5vw,35px)] font-normal uppercase">
            Fresh {{ product.metafields.custom.product_details.value.main_ingredient }} Nutrition
          </h2>
          <p class="text-[16px] font-light">
            Our nutritionists and vets worked hard to come up with picky-eater-proof recipes, packed with highly
            digestible nutrients.
          </p>
          <a href="{{ pages['nutrition'].url }}" class="btn-cta">Learn More</a>
        </div>
        <div class="flex w-full flex-col items-start justify-start gap-2">
          <div class="flex w-full flex-col items-start justify-start border-b border-solid border-[#193C6A]/50">
            <p class="w-full text-[20px] font-medium md:text-[24px]">
              {{ product.metafields.custom.product_details.value.ingredient_1 }}
            </p>
            <p class="w-full text-[16px] font-light md:text-[18px]">
              {{ product.metafields.custom.product_details.value.ingredient_benefit_1 }}
            </p>
          </div>
          <div class="flex w-full flex-col items-start justify-start border-b border-solid border-[#193C6A]/50">
            <p class="w-full text-[20px] font-medium md:text-[24px]">
              {{ product.metafields.custom.product_details.value.ingredient_2 }}
            </p>
            <p class="w-full text-[16px] font-light md:text-[18px]">
              {{ product.metafields.custom.product_details.value.ingredient_benefit_2 }}
            </p>
          </div>
          <div class="flex w-full flex-col items-start justify-start border-b border-solid border-[#193C6A]/50">
            <p class="w-full text-[20px] font-medium md:text-[24px]">
              {{ product.metafields.custom.product_details.value.ingredient_3 }}
            </p>
            <p class="w-full text-[16px] font-light md:text-[18px]">
              {{ product.metafields.custom.product_details.value.ingredient_benefit_3 }}
            </p>
          </div>
          {% if product.metafields.custom.product_details.value.ingredient_4 != blank %}
            <div class="flex w-full flex-col items-start justify-start border-b border-solid border-[#193C6A]/50">
              <p class="w-full text-[20px] font-medium md:text-[24px]">
                {{ product.metafields.custom.product_details.value.ingredient_4 }}
              </p>
              <p class="w-full text-[16px] font-light md:text-[18px]">
                {{ product.metafields.custom.product_details.value.ingredient_benefit_4 }}
              </p>
            </div>
          {% endif %}
          {% if product.metafields.custom.product_details.value.ingredient_5 != blank %}
            <div class="flex w-full flex-col items-start justify-start border-b border-solid border-[#193C6A]/50">
              <p class="w-full text-[20px] font-medium md:text-[24px]">
                {{ product.metafields.custom.product_details.value.ingredient_5 }}
              </p>
              <p class="w-full text-[16px] font-light md:text-[18px]">
                {{ product.metafields.custom.product_details.value.ingredient_benefit_5 }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 md:py-7">
    <div class="container grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="order-2 flex flex-col items-start justify-between gap-2 rounded-[20px] bg-white p-5 md:order-1">
        <div class="flex w-full flex-col items-center justify-center gap-10">
          <h2 class="w-full text-left font-titanOne text-[clamp(25px,2.5vw,35px)] font-normal uppercase md:text-[40px]">
            Vet Recommended
          </h2>
          <div class="flex w-full flex-col items-start justify-center gap-5">
            <h3 class="font-medium text-[24] md:text-[30px]">Dr. Tiffany Harries</h3>
            <div class="flex flex-col items-start justify-center gap-2">
              <p class="text-[16px] font-normal md:text-[18px]">Bachelor of Veterinary Biology</p>
              <p class="text-[16px] font-normal md:text-[18px]">Bachelor of Veterinary Science</p>
              <p class="text-[16px] font-normal md:text-[18px]">Master of Veterinary Medicine</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <p class="text-[14px] font-light md:text-[16px]">
            Dr. Tiffany Harries has been a core member of the Buddy Bites team since the beginning. She works closely
            with our U.S.-based nutritionist to formulate diets that are optimal for your pets, ensuring they receive
            the essential nutrients and high-quality protein they need to thrive.
          </p>
          <p class="text-[14px] font-light md:text-[16px]">
            Dr. Tiffany is a Hong Kong-registered veterinarian with over15 years of extensive clinical experience,
            including the last 12 years practicing right here in Hong Kong. This long-standing commitment to the local
            community has given her a unique understanding of the specific lifestyle needs and health priorities of Hong
            Kong pet owners.
          </p>
        </div>
      </div>
      <img
        src="{{ '0N3A8142_1_1.jpg' | file_img_url: 'master' }}"
        alt="Vet Recommended"
        class="order-1 max-h-[500px] w-full overflow-hidden rounded-[20px] object-cover object-top md:order-2 md:max-h-[615px]"
      >
    </div>
  </section>
  <section class="py-5 md:py-7">
    <div class="container grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="overflow-hidden rounded-[20px] bg-[#E9E9E9]/50">
        <h2 class="w-full bg-[#193C6A] p-2 text-center text-[18px] font-medium uppercase text-white md:p-5 md:text-[35px]">
          Other Kibbles
        </h2>
        <div class="flex w-full flex-col items-center justify-between gap-2 px-3 py-4">
          <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
            <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 11L9.14286 17L23 2" stroke="#B4B4B4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-[12px] font-medium md:text-[16px]">
              {{ product.metafields.custom.product_comparison_points.value.other_product_1 }}
            </p>
          </div>
          <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
            <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 11L9.14286 17L23 2" stroke="#B4B4B4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-[12px] font-medium md:text-[16px]">
              {{ product.metafields.custom.product_comparison_points.value.other_product_2 }}
            </p>
          </div>
          <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
            <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 11L9.14286 17L23 2" stroke="#B4B4B4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-[12px] font-medium md:text-[16px]">
              {{ product.metafields.custom.product_comparison_points.value.other_product_3 }}
            </p>
          </div>
          {% if product.metafields.custom.product_comparison_points.value.other_product_4 != blank %}
            <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
              <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 11L9.14286 17L23 2" stroke="#B4B4B4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p class="text-[12px] font-medium md:text-[16px]">
                {{ product.metafields.custom.product_comparison_points.value.other_product_4 }}
              </p>
            </div>
          {% endif %}
          {% if product.metafields.custom.product_comparison_points.value.other_product_5 != blank %}
            <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
              <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 11L9.14286 17L23 2" stroke="#B4B4B4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p class="text-[12px] font-medium md:text-[16px]">
                {{ product.metafields.custom.product_comparison_points.value.other_product_5 }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="overflow-hidden rounded-[20px] bg-[#B9E3FF]">
        <h2 class="w-full bg-[#193C6A] p-2 text-center text-[18px] font-medium uppercase text-white md:p-5 md:text-[35px]">
          Buddy Bites
        </h2>
        <div class="flex w-full flex-col items-center justify-between gap-2 px-3 py-4">
          <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
            <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 11L9.14286 17L23 2" stroke="#193C6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-[12px] font-medium md:text-[16px]">
              {{ product.metafields.custom.product_comparison_points.value.bb_product_1 }}
            </p>
          </div>
          <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
            <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 11L9.14286 17L23 2" stroke="#193C6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-[12px] font-medium md:text-[16px]">
              {{ product.metafields.custom.product_comparison_points.value.bb_product_2 }}
            </p>
          </div>
          <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
            <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 11L9.14286 17L23 2" stroke="#193C6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-[12px] font-medium md:text-[16px]">
              {{ product.metafields.custom.product_comparison_points.value.bb_product_3 }}
            </p>
          </div>
          {% if product.metafields.custom.product_comparison_points.value.bb_product_4 != blank %}
            <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
              <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 11L9.14286 17L23 2" stroke="#193C6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p class="text-[12px] font-medium md:text-[16px]">
                {{ product.metafields.custom.product_comparison_points.value.bb_product_4 }}
              </p>
            </div>
          {% endif %}
          {% if product.metafields.custom.product_comparison_points.value.bb_product_5 != blank %}
            <div class="flex w-full items-center gap-4 border-b border-solid border-[#193C6A]/50 px-3 py-2">
              <svg width="25px" height="19px" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 11L9.14286 17L23 2" stroke="#193C6A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p class="text-[12px] font-medium md:text-[16px]">
                {{ product.metafields.custom.product_comparison_points.value.bb_product_5 }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 md:py-7">
    <div class="container flex w-full flex-col items-center justify-center">
      <h2 class="w-full text-center font-titanOne text-[clamp(25px,2.5vw,35px)] font-medium uppercase">
        Bark About it
      </h2>
      <div id="klaviyo-featured-reviews-carousel"></div>
    </div>
  </section>
  <section class="py-5 md:py-7">
    <div class="container flex flex-col items-center justify-center gap-4">
      <h2 class="w-full text-balance text-center font-titanOne text-[clamp(25px,2.5vw,35px)] font-medium uppercase">
        YOUR PUP MIGHT ALSO ENJOY...
      </h2>
      <div id="tab-fav-dog" class="w-full">
        <div class="swiper swiper-fav-dog">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'salmon_kibble.png' | file_img_url: 'master' }}"
                  alt="Dog Salmon Kibbles"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2 text-[18px]">
                  <div class="flex w-full justify-between gap-2 font-semibold">
                    <p>Adult Kibbles</p>
                    <p>$32.80</p>
                  </div>
                  <p class="font-normal">Sweet Potato and Salmon Recipe</p>
                </div>
                <a href="{{ all_products['adult-salmon-dry-dog-food'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $32.80
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'beef_treat.png' | file_img_url: 'master' }}"
                  alt="Dog Beef Treats"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2 text-[18px]">
                  <div class="flex w-full justify-between gap-2 font-semibold">
                    <p>Air-Dried Dog Treats</p>
                    <p>$13.50</p>
                  </div>
                  <p class="font-normal">Beef & Blueberry Recipe</p>
                </div>
                <a href="{{ all_products['beef-blueberry-air-dried-dog-treats'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $13.50
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="flex w-full flex-col items-center justify-center gap-4 rounded-[20px] bg-white p-4">
                <img
                  src="{{ 'beef_topper.png' | file_img_url: 'master' }}"
                  alt="Dog Beef Toppers"
                  class="w-full rounded-[20px] object-cover"
                >
                <div class="flex w-full flex-col items-start justify-center gap-2 text-[18px]">
                  <div class="flex w-full justify-between gap-2 font-semibold">
                    <p>Fresh Toppers</p>
                    <p>$7.20</p>
                  </div>
                  <p class="font-normal">Beef & Vegetables Recipe</p>
                </div>
                <a href="{{ all_products['dog-fresh-toppers-beef-vegetables'].url }}" class="btn-buy-now w-full">
                  Add to Cart - $7.20
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 md:py-7">
    <div class="container relative">
      <img
        src="{{ 'sniff_out_our_latest.png' | file_img_url: 'master' }}"
        alt="Sniff Out Our Latest Products"
        class="hidden w-full rounded-[20px] object-cover md:block"
      >
      <img
        src="{{ 'sniff_out_our_latest_mobile.png' | file_img_url: 'master' }}"
        alt="Sniff Out Our Latest Products"
        class="block w-full rounded-[20px] object-cover md:hidden"
      >
      <div class="absolute left-1/2 top-0 flex -translate-x-1/2 flex-col items-center justify-center gap-4 py-[25vw] md:translate-y-1/2 md:justify-center md:py-0">
        <h2 class="text-balance text-center font-titanOne text-[clamp(25px,2.5vw,35px)] uppercase leading-[clamp(30px,2.5vw,35px)] md:w-full">
          Sniff Out Our Latest Products
        </h2>
        <a href="https://www.instagram.com/buddbites.sg/" class="btn-cta"> @buddbites.sg </a>
      </div>
    </div>
  </section>
</main>

{% javascript %}
  const productImages = document.querySelectorAll('[data-target-index]');
  let currentImage = document.getElementById('product-image-0');

  productImages.forEach((image) => {
    image.addEventListener('click', () => {
      const targetIndex = image.getAttribute('data-target-index');
      const targetImage = document.querySelector(targetIndex);
      currentImage.classList.add('hidden');
      targetImage.classList.remove('hidden');
      currentImage = targetImage;
    });
  });

  const productAccordion = document.querySelectorAll('[data-product-accordion-target]');
  productAccordion.forEach((accordion) => {
    accordion.addEventListener('click', () => {
      const targetContent = accordion.getAttribute('data-product-accordion-target');
      const targetContentElement = document.querySelector(targetContent);
      if (targetContentElement.classList.contains('hidden')) {
        targetContentElement.classList.remove('hidden');
        targetContentElement.classList.add('flex');
      } else {
        targetContentElement.classList.add('hidden');
        targetContentElement.classList.remove('flex');
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const swiperFavDog = new Swiper('.swiper-fav-dog', {
      loop: true,
      autoplay: { delay: 2500, disableOnInteraction: false },
      slidesPerView: 1,
      spaceBetween: 16,
      breakpoints: {
        320: { slidesPerView: 1, spaceBetween: 16 },
        1024: { slidesPerView: 3, spaceBetween: 16 },
      },
    });
  });
{% endjavascript %}

{% style %}
  .swiper-fav-dog {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
{% endstyle %}

{% schema %}
{
  "name": "Kibbles Product Section",
  "settings": []
}
{% endschema %}
